@charset "utf-8";

/*************************************************************************************************************************
 * index.css
 *  : 로그인 및 회원가입 페이지의 CSS
 *
 *  @author     Park Su Bin
 *  @version    1.0.0
 *************************************************************************************************************************/
/** 
 *  COMMON
 */
.contents {
    width: 400px;
}


/** 
 *  SIGN UP PAGE
 */
.has-addons {
    & > .input {
        width: 100%;
    }

    & > .button {
        margin-left: var(--spacing-unit);
    }
}


/* MOBILE */
@media screen and (max-width: 767px) {
    .contents {
        width: 88%;
    }
}

